<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
      <add key="url" value="https://www.linkedin.com/login?"/>
      <add key="username" value="hector.automation12@outlook.com"/>
      <add key="password" value="h1203674"/>
      <add key="search1" value="Java"/>
      <add key="search2" value="C#"/>
      <add key="search3" value="C++"/>
      <add key="search4" value="Pega"/>
      <add key="search5" value="Cobol"/>
      <add key="region" value="Italy"/>
    </appSettings>
  
</configuration>