<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
      <!--add key="url" value="http://newtours.demoaut.com/mercurywelcome.php"/>
      <add key="username" value="admin"/>
      <add key="password" value="admin123456"/>
      <add key="username2" value="ad123"/>
      <add key="password2" value="ad456"/>-->
      <add key="url" value="http://www.linkedin.com/login?" />
      <add key="userLinkedIn" value="edavidsainz@gmail.com" />
      <add key="passwordLinkedIn" value="Pru3ba0" />
      <add key="searchCriteria" value="Carlos" />
      <add key="searchLocationCriteria" value="Italy" />
    </appSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-0.24.0.0" newVersion="0.24.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>