<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
      <add key="url" value="https://www.linkedin.com/login?"/>
      <add key="username" value="autotraining4th@gmail.com"/>
      <add key="password" value="P@ssword01"/>
      <add key="search1" value="java"/>
      <add key="search2" value="C#"/>
      <add key="search3" value="Pearl"/>
      <add key="search4" value="PHP"/>
      <add key="search5" value="Ruby"/>
      <add key="search6" value="Selenium"/>
    </appSettings>
  
</configuration>